@media(prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  scrollbar-width: thin;
  scrollbar-color: red black;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: black;
  padding: 0;
  margin: 0;
  color: #fff;
}

.hero {
  background-image: url("anime-background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 32px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  min-height: 10vh;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items; center;
  gap: 20px;
}

nav > ul > li {
  padding: 0;
  list-style-type: none;
}

nav > ul > li > a {
  color: #fff;
  font-size: 0.8em;
}

h1, h2, p {
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 1.3em;
}

p {
  font-weight: 500;
  font-size: 0.9em;
}

a {
  text-decoration: none;
}

section {
  padding: 20px 0;
}

table {
  border-collapse:collapse;
  border:1px solid #FF0000;
  margin-top: 15px;
}


table td , table th {
  border:1px solid #FF0000;
  padding: 10px 15px;
  text-align: center;
}

.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.top {
  height: 90vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.inner-top {
  text-align: center;
  margin-bottom: 50px;
}

.inner-top h1 {
  font-size: 2.5em;
}

main {
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* gap: 35px; */
}

.addtional-section, .vim-motions-cheatsheet {
  width: 100%;
  height: fit-content;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.section-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.indent {
  margin-left: 35px;
}

.vim-motions-cheatsheet {
  text-align: center;
}

.vim-motions-cheatsheet p {
  max-width: 80%;
}

footer {
  width: 100%;
  min-height: 10vh;
  border-top: 1px solid #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer, footer a {
  color: #fff;
}

footer a {
  text-decoration: underline;
}

address {
  text-align: center;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
  }

  header h1 {
    font-size: 1.25rem;
  }
  .inner-top h1 {
    font-size: 1.5rem;
  }

  .inner-top p {
    font-size: 0.8em;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  main {
    padding: 10px 25px;
  } 

  h2 {
    font-size: 0.9em;
  }

  nav li {
    font-size: 1em;
  }

  p, li, th, td, address {
    font-size: 0.7em;
  }

  table {
    margin-top: unset;
  }

  table td , table th {
    padding: 2px 3px;
  }
}

@media (max-width: 350px) {
  header h1 {
    font-size: 1em;
  }
  nav li {
    font-size: 0.8em;
  }

  th, td, address {
    font-size: 0.6em;
  }
}




